/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   Game.css                                           :+:    :+:            */
/*                                                     +:+                    */
/*   By: rfinneru <rfinneru@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2024/10/08 17:09:47 by rfinneru      #+#    #+#                 */
/*   Updated: 2024/10/25 15:21:25 by rfinneru      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

#table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
    min-width: 80vw;
    min-height: 80vh;
    border: 5px solid white;
}
#player1 {
    background-color: white;
    min-width: 1vh;
    min-height: 8vh;
    max-height: 8vh;
    max-width: 1vh;
    margin-left: 2vh;
}

#line {
    background-color: white;
    height: 80vh;
    width: 1px;
    grid-column: 3 ;
    grid-row: 1 / 4;
    margin: auto;
    left: 1px
}

#ball {
    background: white;
    border-radius: 50%;
    height: 1.5vh;
    width: 1.5vh;
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
}

#player2 {
    display: grid;
    grid-column: 7;
    background-color: white;
    min-width: 1vh;
    min-height: 8vh;
    max-height: 8vh;
    max-width: 1vh;
    margin-right: 2vh;
}


#scored {
    color: white;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    justify-content: right;
    margin-top: 2vh;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6vh;
}

#conceded 
{
    color: white;
    grid-column: 4;
    grid-row: 1;
    margin-top: 2vh;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6vh;
}