.StatusOnline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: green;
  }

.StatusOffline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
}