* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chatBox {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1mm;
  border-color: black;

}

.chatContainer {
  display: flex;
  justify-content: space-between;
  /* flex: 80% 20% 30%; */
  margin-top: 20px;
  max-height: 700px;
  overflow-y: auto;
}

.chatUser, .chatContact {
  flex: 1;
  margin-right: 10px;
  
}

/* .chatUser {
  list-style-type: none;
  align-self: flex-start;
  background-color: brown;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
}

.chatContact {
  list-style-type: none;
  align-self: flex-end;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
} */

.chatMessages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatUser {
  list-style-type: none;
  align-self: flex-start;
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.chatContact {
  align-self: flex-end;
  list-style-type: none;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}
